---
http_interactions:
- request:
    method: get
    uri: https://sandbox.espago.com/api/charges
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.2
      Etag:
      - '"36ab75a48cfe4bce4bd0ff6d680a374e"'
    body:
      encoding: UTF-8
      string: '{"count":596,"charges":[{"id":"pay_uxILF7D-heZaT2","description":"Golden
        plan 2014-11-26","channel":"elavon","amount":"123.45","currency":"pln","state":"executed","client":"cli_90Pi6Jf0ndl_PP","created_at":1417030497,"card":{"company":"VI","last4":"4242","year":2019,"month":3,"first_name":"Jan","last_name":"Kowalski","authorized":null,"created_at":1416842254},"issuer_response_code":"00","reversable":true,"invoice":"in_tUCMhwlg2nkvAaL","subscription":"sub_8yYuCBKdywr7e2","transaction_id":"tn_mQKcgfsNw"},{"id":"pay_Wmu3hmXJIG4jsg","description":"Opis
        transakcji","channel":"elavon","amount":"49.99","currency":"pln","state":"executed","client":"cli_PQI_mlA6DXe1nP","created_at":1417009684,"issuer_response_code":"00","reversable":true,"transaction_id":"tn_0pydA_RVa"},{"id":"pay_JEWqRdltANdqzH","description":"Opis
        transakcji","channel":"elavon","amount":"49.99","currency":"pln","state":"preauthorized","client":"cli_0Z-QNfJjl0R7J3","created_at":1417008454,"issuer_response_code":"00","completed":false,"reversable":true,"transaction_id":"tn_2WMKrXcW-"},{"id":"pay_kQmS_3RTfm4eix","description":"Opis
        transakcji","channel":"elavon","amount":"49.99","currency":"pln","state":"reversed","client":"cli_5rDoJyvKDM4RbM","created_at":1417005334,"issuer_response_code":"00","transaction_id":"tn_tAxxrivny"},{"id":"pay_b1Y2ZuJNXXRDM5","description":"Opis
        transakcji","channel":"elavon","amount":"49.99","currency":"pln","state":"reversed","client":"cli_VTsnOHjUohL02K","created_at":1416920783,"issuer_response_code":"00","transaction_id":"tn_mhAlwzK0x"},{"id":"pay_ftMx2WoXveVOdF","description":"Opis
        transakcji","channel":"elavon","amount":"49.99","currency":"pln","state":"reversed","client":"cli_84RAbl__uG21sV","created_at":1416920765,"issuer_response_code":"00","transaction_id":"tn_feetNVaqb"},{"id":"pay_mTOngouLTJWZ0w","description":"Test12345","channel":"elavon","amount":"49.99","currency":"PLN","state":"executed","client":"cli_YM5tKz6-IfhN7T","created_at":1416917311,"issuer_response_code":"00","transaction_id":"tn_5puLXUWDf"},{"id":"pay_yBeZDDdvI9-xPs","description":"Test12345","channel":"elavon","amount":"49.99","currency":"PLN","state":"rejected","client":"cli_As1e5K4jpHy5Aw","created_at":1416917203,"reject_reason":"card
        expired","issuer_response_code":"54","transaction_id":"tn_sC6zyk_5F"},{"id":"pay_Mc4aIdi0mMTwqw","description":"Test12345","channel":"elavon","amount":"49.99","currency":"PLN","state":"rejected","client":"cli_DYuoBap-1hJzBU","created_at":1416916959,"reject_reason":"card
        expired","issuer_response_code":"54","transaction_id":"tn_a0UiElEVZ"},{"id":"pay_dNeWnyjbgh8mry","description":"Test12345","channel":"elavon","amount":"49.99","currency":"PLN","state":"rejected","client":"cl[...]
