---
http_interactions:
- request:
    method: post
    uri: https://sandbox.espago.com/api/charges/pay_lQGyIon5qG59O5/refund
    body:
      encoding: US-ASCII
      string: charge_id=pay_lQGyIon5qG59O5
    headers:
      Authorization:
      - Basic YXBwX2lkX3Rlc3Q6YXBwX3Bhc3N3b3JkX3Rlc3Q=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.2
      Etag:
      - '"cbdc619a2d93a369a022248154fbf661"'
    body:
      encoding: UTF-8
      string: '{"id":"pay_lQGyIon5qG59O5","description":"Opis transakcji","amount":"49.99","refunded_amount":"49.99","currency":"pln","state":"refunded","client":"cli_3szMS5l5b6pPyH","created_at":1416326675,"card":{"company":null,"last4":null,"year":null,"month":null,"first_name":null,"last_name":null,"authorized":null,"created_at":null}}'
  recorded_at: Tue, 25 Nov 2014 13:44:33 GMT
recorded_with: VCR 2.9.3
