---
http_interactions:
- request:
    method: post
    uri: https://sandbox.espago.com/api/charges/pay_Wmu3hmXJIG4jsg/complete
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.2
      Etag:
      - '"c1125d6013e41894d2706e947d6e942c"'
    body:
      encoding: UTF-8
      string: '{"id":"pay_Wmu3hmXJIG4jsg","description":"Opis transakcji","channel":"elavon","amount":"49.99","currency":"pln","state":"executed","client":"cli_PQI_mlA6DXe1nP","created_at":1417009684,"issuer_response_code":"00","reversable":true,"transaction_id":"tn_0pydA_RVa"}'
  recorded_at: Wed, 26 Nov 2014 13:48:17 GMT
recorded_with: VCR 2.9.3
