---
http_interactions:
- request:
    method: get
    uri: https://sandbox.espago.com/api/charges/pay_mTOngouLTJWZ0w
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBwX2lkX3Rlc3Q6YXBwX3Bhc3N3b3JkX3Rlc3Q=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.2
      Etag:
      - '"76f2464efbd4d4b572cfb2082aefaa65"'
    body:
      encoding: UTF-8
      string: '{"id":"pay_mTOngouLTJWZ0w","description":"Test12345","channel":"elavon","amount":"49.99","currency":"PLN","state":"executed","client":"cli_YM5tKz6-IfhN7T","created_at":1416917311,"issuer_response_code":"00","reversable":true,"transaction_id":"tn_5puLXUWDf"}'
  recorded_at: Tue, 25 Nov 2014 12:39:26 GMT
recorded_with: VCR 2.9.3
