---
http_interactions:
- request:
    method: post
    uri: https://sandbox.espago.com/api/charges/init
    body:
      encoding: UTF-8
      string: amount=49.99&card%5Bfirst_name%5D=Jan&card%5Blast_name%5D=Kowalski&card%5Bmonth%5D=2&card%5Bnumber%5D=4242424242424242&card%5Bverification_value%5D=123&card%5Byear%5D=2015&currency=PLN&description=Test12345
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"afa8705161a34d3c38548c8597267636"
    body:
      encoding: UTF-8
      string: '{"id":"pay_96aTW2otjImiHhCd","description":"Test12345","channel":"elavon","amount":"49.99","currency":"PLN","state":"new","client":"cli_96acHmkHkj36w3Xk","transaction_id":"tr_96aaqaYyD","created_at":1728462384,"payment_token":"86ba284f-3ad6-4b50-94c0-be3377a6f6c5"}'
  recorded_at: Wed, 09 Oct 2024 08:26:24 GMT
recorded_with: VCR 6.1.0
