---
http_interactions:
- request:
    method: get
    uri: https://sandbox.espago.com/api/clients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBwX2lkX3Rlc3Q6YXBwX3Bhc3N3b3JkX3Rlc3Q=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.2
      Etag:
      - '"1eb158a92dc465ec1b96223c144c65bb"'
    body:
      encoding: UTF-8
      string: '{"count":597,"clients":[{"email":null,"id":"cli_5rDoJyvKDM4RbM","created_at":1417005334,"description":null,"card":{"company":null,"last4":null,"year":null,"month":null,"first_name":null,"last_name":null,"authorized":null,"created_at":null},"deleted":false},{"email":null,"id":"cli_w0Se2smYwyQ0Uw","created_at":1417004837,"description":null,"card":{"company":"VI","last4":"1112","year":2020,"month":1,"first_name":"Jan","last_name":"Kowalski","authorized":null,"created_at":1417004837},"deleted":false},{"email":null,"id":"cli_VTsnOHjUohL02K","created_at":1416920783,"description":null,"card":{"company":null,"last4":null,"year":null,"month":null,"first_name":null,"last_name":null,"authorized":null,"created_at":null},"deleted":false},{"email":null,"[...]
