---
http_interactions:
- request:
    method: put
    uri: https://sandbox.espago.com/api/clients/cli_w0Se2smYwyQ0Uw
    body:
      encoding: US-ASCII
      string: client_id=cli_w0Se2smYwyQ0Uw&card%5Bfirst_name%5D=Jan&card%5Blast_name%5D=Kowalski&card%5Bnumber%5D=4242424242424242&card%5Bverification_value%5D=123&card%5Byear%5D=2015&card%5Bmonth%5D=2
    headers:
      Authorization:
      - Basic YXBwX2lkX3Rlc3Q6YXBwX3Bhc3N3b3JkX3Rlc3Q=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.2
      Etag:
      - '"db2687e54fc4bc67557e2e73a00c3f76"'
    body:
      encoding: UTF-8
      string: '{"email":null,"id":"cli_w0Se2smYwyQ0Uw","created_at":1417004837,"description":null,"card":{"company":"VI","last4":"4242","year":2015,"month":2,"first_name":"Jan","last_name":"Kowalski","authorized":null,"created_at":1417008463},"deleted":false}'
  recorded_at: Wed, 26 Nov 2014 13:27:43 GMT
recorded_with: VCR 2.9.3
