---
http_interactions:
- request:
    method: get
    uri: https://sandbox.espago.com/api/clients/cli_w0Se2smYwyQ0Uw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.2
      Etag:
      - '"23faffbeb5fce29f008bf5808b190883"'
    body:
      encoding: UTF-8
      string: '{"email":null,"id":"cli_w0Se2smYwyQ0Uw","created_at":1417004837,"description":null,"card":{"company":"VI","last4":"1112","year":2020,"month":1,"first_name":"Jan","last_name":"Kowalski","authorized":null,"created_at":1417004837},"deleted":false}'
  recorded_at: Wed, 26 Nov 2014 13:04:22 GMT
recorded_with: VCR 2.9.3
