---
http_interactions:
- request:
    method: get
    uri: https://sandbox.espago.com/api/invoice_items/ii_5LS-YR7S1QaJBl3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.2
      Etag:
      - '"380a179a20bf60e6e66bf89be1cd947c"'
    body:
      encoding: UTF-8
      string: '{"id":"ii_5LS-YR7S1QaJBl3","client":"cli_90Pi6Jf0ndl_PP","description":"Golden
        plan","amount":"123.45","currency":"pln","created_at":1417030496}'
  recorded_at: Thu, 27 Nov 2014 15:08:06 GMT
recorded_with: VCR 2.9.3
