---
http_interactions:
- request:
    method: get
    uri: https://sandbox.espago.com/api/invoices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBwX2lkX3Rlc3Q6YXBwX3Bhc3N3b3JkX3Rlc3Q=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.2
      Etag:
      - '"7db4d65bd13c990296496625edb98288"'
    body:
      encoding: UTF-8
      string: '{"count":1,"invoices":[{"id":"in_tUCMhwlg2nkvAaL","date":1417030496,"client":"cli_90Pi6Jf0ndl_PP","subscription":"sub_8yYuCBKdywr7e2","amount":"123.45","currency":"pln","paid":true,"issuer_response_code":"00","attempts":1,"next_payment_attempt":null,"created_at":1417030497}]}'
  recorded_at: Wed, 26 Nov 2014 19:49:45 GMT
recorded_with: VCR 2.9.3
