---
http_interactions:
- request:
    method: get
    uri: https://sandbox.espago.com/api/invoices/in_tUCMhwlg2nkvAaL/line_items
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.2
      Etag:
      - '"5dcec02d42c40746d71351ecdd23030f"'
    body:
      encoding: UTF-8
      string: '{"count":1,"invoice_items":[{"id":"ii_5LS-YR7S1QaJBl3","client":"cli_90Pi6Jf0ndl_PP","description":"Golden
        plan","amount":"123.45","currency":"pln","created_at":1417030496}]}'
  recorded_at: Wed, 26 Nov 2014 21:54:33 GMT
recorded_with: VCR 2.9.3
