---
http_interactions:
- request:
    method: get
    uri: https://sandbox.espago.com/api/plans/pl_12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.2
      Etag:
      - '"8f826d25d5e1a2861ae3926fadfd08d2"'
    body:
      encoding: UTF-8
      string: '{"id":"pl_12345","description":"Golden plan","period":5,"period_unit":"days","amount":123.45,"currency":"pln","created_at":1413807490}'
  recorded_at: Wed, 26 Nov 2014 14:42:46 GMT
recorded_with: VCR 2.9.3
