---
http_interactions:
- request:
    method: post
    uri: https://sandbox.espago.com/api/plans
    body:
      encoding: US-ASCII
      string: period_unit=day&period=14&amount=49.99&currency=pln&description=Test+Plan
    headers:
      Authorization:
      - Basic YXBwX2lkX3Rlc3Q6YXBwX3Bhc3N3b3JkX3Rlc3Q=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.2
      Etag:
      - '"dc474eb0beffe8fe5dd3f1341aad14f7"'
    body:
      encoding: UTF-8
      string: '{"id":"pl_XczKHr_42CRiKXZ","description":"Test Plan","period":14,"period_unit":"day","amount":"49.99","currency":"pln","created_at":1417023813}'
  recorded_at: Wed, 26 Nov 2014 17:43:33 GMT
recorded_with: VCR 2.9.3
