---
http_interactions:
- request:
    method: post
    uri: https://sandbox.espago.com/api/secure_web_page_register
    body:
      encoding: UTF-8
      string: amount=49.99&currency=PLN&description=Test12345&client_description=Jan+Kowalski&kind=sale
    headers:
      Authorization:
      - Basic YXBwX2lkX3Rlc3Q6YXBwX3Bhc3N3b3JkX3Rlc3Q=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.9
      Etag:
      - W/"c32d4faa6245c966283caad9e1088455"
    body:
      encoding: UTF-8
      string: '{"id":"pay_770swCpLvm5dzrqk","description":"Test12345","amount":"49.99","currency":"PLN","state":"new","created_at":1555344189,"transaction_id":"tr_770J9n7gw","redirect_url":"http://127.0.0.1:3000/secure_web_page/tr_770J9n7gw"}'
  recorded_at: Mon, 15 Apr 2019 16:03:09 GMT
recorded_with: VCR 2.9.3
