---
http_interactions:
- request:
    method: get
    uri: https://sandbox.espago.com/api/subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.2
      Etag:
      - '"e8b64babf491e15309cc95cc2db2d258"'
    body:
      encoding: UTF-8
      string: '{"count":1,"subscriptions":[{"id":"sub_8yYuCBKdywr7e2","state":"active","client":"cli_90Pi6Jf0ndl_PP","plan":"pl_12345","created_at":1417030496,"last_invoice":{"id":"in_tUCMhwlg2nkvAaL","date":1417030496,"client":"cli_90Pi6Jf0ndl_PP","subscription":"sub_8yYuCBKdywr7e2","amount":"123.45","currency":"pln","paid":true,"issuer_response_code":"00","attempts":1,"next_payment_attempt":null,"created_at":1417030497}}]}'
  recorded_at: Wed, 26 Nov 2014 19:35:13 GMT
recorded_with: VCR 2.9.3
