---
http_interactions:
- request:
    method: post
    uri: https://sandbox.espago.com/api/subscriptions
    body:
      encoding: US-ASCII
      string: plan=pl_12345&client=cli_90Pi6Jf0ndl_PP
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.2
      Etag:
      - '"8a7a471581b59dfd11b76713db87dce9"'
    body:
      encoding: UTF-8
      string: '{"id":"sub_8yYuCBKdywr7e2","state":"active","client":"cli_90Pi6Jf0ndl_PP","plan":"pl_12345","created_at":1417030496,"last_invoice":{"id":"in_tUCMhwlg2nkvAaL","date":1417030496,"client":"cli_90Pi6Jf0ndl_PP","subscription":"sub_8yYuCBKdywr7e2","amount":"123.45","currency":"pln","paid":true,"issuer_response_code":"00","attempts":1,"next_payment_attempt":null,"created_at":1417030497}}'
  recorded_at: Wed, 26 Nov 2014 19:35:00 GMT
recorded_with: VCR 2.9.3
