---
http_interactions:
- request:
    method: get
    uri: https://sandbox.espago.com/api/tokens/cc_166YDMhrVcemFb3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBwX2lkX3Rlc3Q6YXBwX3Bhc3N3b3JkX3Rlc3Q=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.2
      Etag:
      - '"bebba4898713a5205954333a29c0e1cc"'
    body:
      encoding: UTF-8
      string: '{"id":"cc_166YDMhrVcemFb3","created_at":1417029320,"used":false,"card":{"company":"VI","last4":"4242","year":2015,"month":2,"first_name":"Jan","last_name":"Kowalski","authorized":null,"created_at":1417029320}}'
  recorded_at: Wed, 26 Nov 2014 19:24:59 GMT
recorded_with: VCR 2.9.3
