---
http_interactions:
- request:
    method: post
    uri: https://sandbox.espago.com/api/tokens
    body:
      encoding: US-ASCII
      string: card%5Bfirst_name%5D=Jan&card%5Blast_name%5D=Kowalski&card%5Bnumber%5D=4242424242424242&card%5Bverification_value%5D=123&card%5Byear%5D=2015&card%5Bmonth%5D=2
    headers:
      Authorization:
      - Basic YXBwX3B1YmxpY19rZXlfdGVzdDo=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.2
      Etag:
      - '"bebba4898713a5205954333a29c0e1cc"'
    body:
      encoding: UTF-8
      string: '{"id":"cc_166YDMhrVcemFb3","created_at":1417029320,"used":false,"card":{"company":"VI","last4":"4242","year":2015,"month":2,"first_name":"Jan","last_name":"Kowalski","authorized":null,"created_at":1417029320}}'
  recorded_at: Wed, 26 Nov 2014 19:15:20 GMT
recorded_with: VCR 2.9.3
